@import url(//fonts.googleapis.com/css?family=Montserrat+Alternates);
nav > div {
  display: block;
  width: 978px;
  margin: auto;
  position: relative;
  left: 0;
  z-index: 3; }

.money {
  width: 143px;
  height: 310px;
  position: absolute;
  top: -250px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 9px #222;
  -moz-box-shadow: 0px 0px 9px #222;
  box-shadow: 0px 0px 9px #222;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s; }
  .money:hover {
    margin-left: 26px;
    top: -100px; }
  .money div {
    width: 143px;
    height: 30px;
    position: absolute;
    bottom: 0px; }
  .money span {
    width: 143px;
    position: relative;
    top: 7px; }

#one {
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f7f6f1;
  left: 0px; }

#five {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ecbac5;
  left: 163px; }

#ten {
  background-image: url("../images/10.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f1dc6f;
  left: 326px; }

#twenty {
  background-image: url("../images/20.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #abcdac;
  left: 489px; }

#fifty {
  background-image: url("../images/50.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #98c9ce;
  left: 652px; }

#hundred {
  background-image: url("../images/100.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f5d187;
  left: 815px; }

#logo {
  width: 350px;
  height: 131px;
  background-image: url("../images/nashopoly_logo.png");
  position: relative;
  margin: 0 305px 0 305px; }

section {
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 100px 0 50px 0; }

.clear {
  float: none;
  clear: both; }

section #content {
  width: 960px;
  moz-background-color: rgba(255, 255, 255, 0.5);
  webkit-background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 0px; }
  section #content #video {
    width: 100%;
    text-align: center; }

.content_body {
  width: 960px;
  padding: 0 20px 0 20px; }
  .content_body p {
    padding: 20px; }
  .content_body .peice_padding {
    width: 940px;
    float: left;
    height: 370px; }
  .content_body .peice_box {
    width: 306px;
    height: 206px;
    float: left; }
  .content_body .peice_text {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    border-right: 2px solid rgba(245, 209, 135, 0.5);
    border-left: 2px solid rgba(245, 209, 135, 0.5); }
  .content_body .card_padding {
    width: 940px;
    float: left;
    height: 203px;
    padding: 20px 0 0 0; }
    .content_body .card_padding ul {
      display: inline;
      padding-left: 0px; }
    .content_body .card_padding li {
      display: inline; }

#board {
  width: 800px;
  height: 800px;
  background-color: #c9fbd6;
  margin: auto;
  border: 10px solid #526aae;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px #222;
  -moz-box-shadow: 4px 4px 6px #222;
  box-shadow: 4px 4px 6px #222;
  padding: 0;
  position: relative; }
  #board table {
    width: 100%;
    position: absolute;
    table-layout: fixed; }
  #board #top_row {
    top: 0;
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #board #right_col {
    position: relative;
    top: 348px;
    left: 348px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  #board #bottom_row {
    bottom: 0;
    left: 0; }
  #board #left_col {
    position: relative;
    top: 244px;
    right: 348px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  #board td {
    padding: 0;
    border: 2px solid black;
    vertical-align: top;
    position: relative; }
    #board td > div {
      font-size: 9px;
      width: 100%;
      height: 100%;
      vertical-align: top;
      text-align: center; }
    #board td .price {
      width: 100%;
      position: absolute;
      bottom: 0px;
      text-align: center; }
  #board .corner {
    width: 100px;
    height: 100px; }
  #board .color_bar {
    width: 100%;
    height: 25px;
    border-bottom: 2px solid black; }
  #board .babyblue {
    background-color: #c4c8e5; }
  #board .blue {
    background-color: #413382; }
  #board .green {
    background-color: #528b6a; }
  #board .orange {
    background-color: #f19749; }
  #board .purple {
    background-color: #44235a; }
  #board .red {
    background-color: #e22835; }
  #board .violet {
    background-color: #a72758; }
  #board .yellow {
    background-color: #f9f47c; }
  #board #drawcommunitychest {
    width: 110px;
    height: 125px;
    border: 2px dotted black;
    text-align: center;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 190px;
    left: 200px; }
  #board #drawchance {
    width: 110px;
    height: 125px;
    border: 2px dotted black;
    text-align: center;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    position: absolute;
    bottom: 190px;
    right: 200px; }
  #board .drawpile span {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    top: 50px; }
  #board #boardlogo {
    background-image: url("../images/nashopoly_logo.png");
    width: 350px;
    height: 131px;
    position: absolute;
    left: 215px;
    top: 330px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #board #crease {
    position: absolute;
    left: 395px;
    bottom: -10px;
    width: 10px;
    height: 820px;
    background-color: rgba(40, 40, 40, 0.1); }
    #board #crease #centercrease {
      width: 6px;
      height: 100%;
      margin: auto;
      background-color: rgba(40, 40, 40, 0.07); }
      #board #crease #centercrease div {
        width: 2px;
        height: 100%;
        margin: auto;
        background-color: rgba(40, 40, 40, 0.05); }
    #board #crease .tape {
      width: 40px;
      height: 10px;
      background-color: #222;
      position: absolute;
      right: -16px;
      border-left: 1px solid #666;
      border-right: 1px solid #666; }
      #board #crease .tape:nth-of-type(2) {
        top: 0px; }
      #board #crease .tape:nth-of-type(3) {
        bottom: 0px; }
      #board #crease .tape .tapecrease {
        width: 10px;
        height: 100%;
        margin: auto;
        background-color: rgba(150, 150, 150, 0.14); }
        #board #crease .tape .tapecrease > div {
          width: 6px;
          height: 100%;
          margin: auto;
          background-color: rgba(40, 40, 40, 0.1); }
          #board #crease .tape .tapecrease > div > div {
            width: 2px;
            height: 100%;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.1); }

footer p {
  padding: 80px 0 0 0;
  text-align: center; }

body#home_bg {
  background-image: url("../images/cityscape_home.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

body#board_bg {
  background-image: url("../images/cityscape_board.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

body#peices_bg {
  background-image: url("../images/cityscape_peices.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

body#cards_bg {
  background-image: url("../images/cityscape_cards.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

body#faq_bg {
  background-image: url("../images/cityscape_faq.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

body#contact_bg {
  background-image: url("../images/cityscape_contac.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

a {
  text-decoration: none;
  color: #333333; }
