@import url(//fonts.googleapis.com/css?family=Montserrat+Alternates);
nav > div {
  display: block;
  width: 978px;
  margin: auto;
  position: relative;
  left: 0; }

.money {
  width: 143px;
  height: 310px;
  position: absolute;
  top: -250px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 9px #222;
  -moz-box-shadow: 0px 0px 9px #222;
  box-shadow: 0px 0px 9px #222;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s; }
  .money:hover {
    margin-left: 26px;
    top: -100px; }
  .money div {
    width: 143px;
    height: 30px;
    position: absolute;
    bottom: 0px; }
  .money span {
    width: 143px;
    position: relative;
    top: 7px; }

#one {
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f7f6f1;
  left: 0px; }

#five {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ecbac5;
  left: 163px; }

#ten {
  background-image: url("../images/10.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f1dc6f;
  left: 326px; }

#twenty {
  background-image: url("../images/20.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #abcdac;
  left: 489px; }

#fifty {
  background-image: url("../images/50.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #98c9ce;
  left: 652px; }

#hundred {
  background-image: url("../images/100.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f5d187;
  left: 815px; }

section {
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 100px 0 50px 0; }

.clear {
  float: none;
  clear: both; }

section #content {
  width: 960px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 0px; }

#board {
  width: 800px;
  height: 800px;
  background-color: #c9fbd6;
  margin: auto;
  border: 10px solid #526aae;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px #222;
  -moz-box-shadow: 4px 4px 6px #222;
  box-shadow: 4px 4px 6px #222;
  padding: 0; }
  #board td {
    border: 2px solid black; }
  #board .corner {
    width: 100px;
    height: 100px; }

footer .footer_text {
  padding: 20px; }

body {
  background-image: url("../images/cityscape.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat Alternates", sans-serif; }

a {
  text-decoration: none;
  color: #333333; }

//* Conatc Page *//

