#board {
  width: $board_size;
  height: $board_size;
  background-color: $board_color;
  margin: auto;
  border: 10px solid $board_border;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px #222;
  -moz-box-shadow: 4px 4px 6px #222;
  box-shadow: 4px 4px 6px #222;
  padding: 0;
  td {
    border: 2px solid black;
  }
  .corner {
    width: $corner_size;
    height: $corner_size;
  }
 }