#board {
  width: $board_size;
  height: $board_size;
  background-color: $board_color;
  margin: auto;
  border: 10px solid $board_border;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px #222;
  -moz-box-shadow: 4px 4px 6px #222;
  box-shadow: 4px 4px 6px #222;
  padding: 0;
  position: relative;
  table {
    width: 100%;
    position: absolute;
    table-layout: fixed;
    // td > div {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  #top_row {
    top: 0;
    left: 0;
    @include rotate_fn(180deg);
  }
  #right_col {
    position: relative;
    top: 348px;
    left: 348px;
    @include rotate_fn(270deg);
  }
  #bottom_row {
    bottom: 0;
    left: 0;
  }
  #left_col {
    position: relative;
    top: 244px;
    right: 348px;
    @include rotate_fn(90deg);
  }

  td {
    padding: 0;
    border: 2px solid black;
    vertical-align: top;
    position: relative;
    >div {
      font-size: 9px;
      width: 100%;
      height: 100%;
      vertical-align: top;
      text-align: center;
    }
    .price {
      width: 100%;
        position: absolute;
      bottom: 0px;
      text-align: center;
    }
  }
  .corner {
    width: $corner_size;
    height: $corner_size;
  }
  #go {
      background-image: url('../images/board_images/go.png');
    }
  .color_bar {
    width: 100%;
    height: 25px;
    border-bottom: 2px solid black;
  }

  @for $i from 1 through 8 {
    $name: nth($color_bars, $i);
    $color: nth($color_bar_colors, $i);
    .#{$name} {
      background-color: $color;
    }
  }

  #drawcommunitychest {
    width: 110px;
    height: 125px;
    border: 2px dotted black;
    text-align: center;
    @include rotate_fn(135deg);
    position: absolute;
    top: 190px;
    left: 200px;
  }
  #drawchance {
    width: 110px;
    height: 125px;
    border: 2px dotted black;
    text-align: center;
    @include rotate_fn(315deg);
    position: absolute;
    bottom: 190px;
    right: 200px;
  }
  .drawpile {
    span {
      position: relative;
      font-size: 12px;
      font-weight: bold;
      top: 50px;
    }
  }
  #boardlogo {
    background-image: url('../images/nashopoly_logo.png');
    width: 350px;
    height: 131px;
    position: absolute;
    left: 215px;
    top: 330px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #crease {
    position: absolute;
    left: 395px;
    bottom: -10px;
    width: 10px;
    height: 820px;
    background-color: rgba(40, 40, 40, .1);
    #centercrease {
      width: 6px;
      height: 100%;
      margin: auto;
      background-color: rgba(40, 40, 40, .07);
      div {
        width: 2px;
        height: 100%;
        margin: auto;
        background-color: rgba(40, 40, 40, .05);
      }
    }
    .tape {
      width: 40px;
      height: 10px;
      background-color: #222;
      position: absolute;
      right: -16px;
      border-left: 1px solid #666;
      border-right: 1px solid #666;
      &:nth-of-type(2) {
        top: 0px;
      }
      &:nth-of-type(3) {
        bottom: 0px;
      }
      .tapecrease {
        width: 10px;
        height: 100%;
        margin: auto;
        background-color: rgba(150, 150, 150, .14);
        >div {
          width: 6px;
          height: 100%;
          margin: auto;
          background-color: rgba(40, 40 ,40, .1);
          >div {
            width: 2px;
            height: 100%;
            margin: auto;
            background-color: rgba(0, 0 ,0, .1);
        }
      }
      }
    }
  }
}