$one_color: #F7F6F1;
$five_color: #ECBAC5;
$ten_color: #F1DC6F;
$twenty_color: #ABCDAC;
$fifty_color: #98C9CE;
$hundred_color: #F5D187;
$link_color: #333;
$board_color: #C9FBD6;
$board_border: #526AAE;
$color_bar_babyblue: #C4C8E5;
$color_bar_blue: #413382;
$color_bar_green: #528B6A;
$color_bar_orange: #F19749;
$color_bar_purple: #44235A;
$color_bar_red: #E22835;
$color_bar_violet: #A72758;
$color_bar_yellow: #F9F47C;

$color_bars: babyblue blue green orange purple red violet yellow;
$color_bar_colors: $color_bar_babyblue $color_bar_blue $color_bar_green $color_bar_orange $color_bar_purple $color_bar_red $color_bar_violet $color_bar_yellow;
