section {
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 100px 0 50px 0;
}
.clear {
  float: none;
  clear: both;
}
section #content
{
  width: 960px;
  moz-background-color: rgba(255, 255, 255, .50);
  webkit-background-color: rgba(255, 255, 255, .50);
  background-color: rgba(255, 255, 255, .50);
  padding-top:0px;
}


.content_body
{
  width:100%;

    p
    {
      padding:20px;
    }

    .peice_box
    {
      width:306px;
      height:206px;
      position: absolute;
      float:left;
      // background-color:#f00;
    }
    .peice_text
    {
      padding:10px 0 10px 0;
      text-align: center;
      background-color: blue;
    }



  }
