section {
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 100px 0 50px 0;
}
.clear {
  float: none;
  clear: both;
}
section #content
{
  width: 960px;
  moz-background-color: rgba(255, 255, 255, .50);
  webkit-background-color: rgba(255, 255, 255, .50);
  background-color: rgba(255, 255, 255, .50);
  padding-top:0px;
  #video {
    width: 100%;
    text-align: center;
  }
}


.content_body
{
  width:100%;

    p
    {
      padding:20px;
    }

    .peice_box
    {
      width:306px;
      height:206px;
      float:left;
      margin:0 0 0 20px;
    }
    .peice_text
    {
      padding:10px 0 10px 5px;
      text-align: center;
      background-color: blue;
      margin:0 0 0 10px;
    }

  }
