article.faq {
  line-height: 30px;
  p {
        width: 65%;
        margin: auto;
        margin-top: 40px;
      }
      .title {
        margin-top: 30px;
      }
}
#left_article_faq
    {
      width: 450px;
      height: 1000px;
      float:left;
      margin: 20px 0 20px 20px;
      background-image: url("../images/blue_long_card.jpg");
      background-size: 100% 100%;
      p
      {
        margin-top: 10px;
      }
      .title {
        margin-top: 30px;
      }
    }

#right_article_faq
    {
      width: 450px;
      height: 1000px;
      float:left;
      margin: 20px 0 20px 20px;
      background-image: url("../images/red_long_card.jpg");
      background-size: 100% 100%;

    }

#bottom_left_article_faq
    {
      width: 450px;
      height: 1000px;
      float:left;
      margin: 20px 0 20px 20px;
      background-image: url("../images/yellow_long_card.jpg");
      background-size: 100% 100%;

    }

#bottom_right_article_faq
    {
      width: 450px;
      height: 1000px;
      float:left;
      margin: 20px 0 20px 20px;
      background-image: url("../images/green_long_card.jpg");
      background-size: 100% 100%;

    }