!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#board_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us!
    %section#main
      %div#board

        %div#drawcommunitychest
          %span Community Chest
        %div#drawchance
          %span Chance


        %table#top_row
          /table for top row--------------------------------------------------
          %tr
            %td.corner
              %div

            %td.top
              %div
                %div.color_bar.yellow
                sample text
            %td.top
              %div.utility
                utility
            %td.top
              %div
                %div.color_bar.yellow
                sample text
            %td.top
              %div
                %div.color_bar.yellow
                sample text
            %td.top
              %div.railroad
                railroad
            %td.top
              %div
                %div.color_bar.red
                sample text
            %td.top
              %div
                %div.color_bar.red
                sample text
            %td.top
              %div.chance
                chance
            %td.top
              %div
                %div.color_bar.red
                sample text
            %td.corner
              %div



        %table#right_col
          /table for right column---------------------------------------------
          %tr
            %td.corner
              %div
            %td.top
              %div
                %div.color_bar.blue
                sample text
            %td.top
              %div.luxurytax
                Luxury tax
            %td.top
              %div
                %div.color_bar.blue
                sample text
            %td.top
              %div.chance
                Chance
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div
                %div.color_bar.green
                sample text
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.green
                sample text
            %td.top
              %div
                %div.color_bar.green
                sample text
            %td.corner
              %div


        %table#bottom_row
          /table for bottom row--------------------------------------------------
          %tr
            %td.corner
              %div
            %td.top
              %div
                %div.color_bar.babyblue
                sample text
            %td.top
              %div
                %div.color_bar.babyblue
                sample text
            %td.top
              %div.chance
                Chance
            %td.top
              %div
                %div.color_bar.babyblue
                sample text
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div.incometax
                Income Tax
            %td.top
              %div
                %div.color_bar.purple
                sample text
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.purple
                sample text
            %td.corner
              %div


        %table#left_col
          /table for left column-----------------------------------------
          %tr
            %td.corner
              %div

            %td.top
              %div
                %div.color_bar.orange
                sample text
            %td.top2
              %div
                %div.color_bar.orange
                sample text
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.orange
                sample text
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div
                %div.color_bar.violet
                sample text
            %td.top
              %div
                %div.color_bar.violet
                sample text
            %td.top
              %div.utility
                Utility
            %td.top
              %div
                %div.color_bar.violet
                sample text
            %td.corner
              %div


    %footer
