!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %table#board
        %tr#top_row
          %td.corner
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.top
            %div
              %div.color_bar
              sample text
          %td.corner
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td{colspan:"9", rowspan:"9"}
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr
          %td.left
            %div
              %div.color_bar
              sample text
          %td.right
            %div
              %div.color_bar
              sample text
        %tr#bottom_row
          %td.corner
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.bottom
            %div
              %div.color_bar
              sample text
          %td.corner
            %div
              %div.color_bar
              sample text
    %footer
