!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#board_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div#board

          %div#drawcommunitychest.drawpile
            %span Community Chest
          %div#drawchance.drawpile
            %span Chance
          %div#boardlogo
          %%div#crease
            %div#centercrease
              %div
            %div.tape
              %div.tapecrease
                %div
                  %div
            %div.tape
              %div.tapecrease
                %div
                  %div
          %table#top_row
            /table for top row--------------------------------------------------
            %tr
              %td.corner
                %div
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.yellow
                  Batman Building
                  %div.price $280
              %td.top
                %div.utility
                  %img{src:""}
                  %div.price $150
              %td.top
                %div
                  %div.color_bar.yellow
                  Ryman Auditorium
                  %div.price $260
              %td.top
                %div
                  %div.color_bar.yellow
                  Schermerhorn
                  %div.price $260
              %td.top
                %div.railroad
                  %img{src:""}
                  %div.price $200
              %td.top
                %div
                  %div.color_bar.red
                  LP Field
                  %div.price $240
              %td.top
                %div
                  %div.color_bar.red
                  Bridgestone Arena
                  %div.price $220
              %td.top
                %div.chance
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.red
                  Convention Center
                  %div.price $220
              %td.corner
                %div
                  %img{src:""}
                  %div.price


          %table#right_col
            /table for right column---------------------------------------------
            %tr
              %td.corner
                %div
              %td.top
                %div
                  %div.color_bar.blue
                  Belle Meade Plantation
                  %div.price $400
              %td.top
                %div.luxurytax
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.blue
                  Cheekwood
                  %div.price $350
              %td.top
                %div.chance
                  %img{src:""}
                  %div.price
              %td.top
                %div.railroad
                  %img{src:""}
                  %div.price $200
              %td.top
                %div
                  %div.color_bar.green
                  Broadway
                  %div.price $320
              %td.top
                %div.communitychest
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.green
                  Ghost Ballet
                  %div.price $300
              %td.top
                %div
                  %div.color_bar.green
                  Riverfront
                  %div.price $300
              %td.corner
                %div


          %table#bottom_row
            /table for bottom row--------------------------------------------------
            %tr
              %td.corner
                %div
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.babyblue
                  Music Row
                  %div.price $120
              %td.top
                %div
                  %div.color_bar.babyblue
                  Shelby Park
                  %div.price $100
              %td.top
                %div.chance
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.babyblue
                  Loveless Cafe
                  %div.price $100
              %td.top
                %div.railroad
                  %img{src:""}
                  %div.price $200
              %td.top
                %div.incometax
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.purple
                  Grand Ole Opry
                  %div.price $80
              %td.top
                %div.communitychest
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.purple
                  Opry Mills
                  %div.price $60
              %td.corner
                %div
                  %img{src:""}
                  %div.price


          %table#left_col
            /table for left column-----------------------------------------
            %tr
              %td.corner
                %div

              %td.top
                %div
                  %div.color_bar.orange
                  The Parthenon
                  %div.price $200
              %td.top2
                %div
                  %div.color_bar.orange
                  The Hermitage
                  %div.price $180
              %td.top
                %div.communitychest
                  %img{src:""}
                  %div.price
              %td.top
                %div
                  %div.color_bar.orange
                  Fort Negley
                  %div.price $180
              %td.top
                %div.railroad
                  %img{src:""}
                  %div.price $200
              %td.top
                %div
                  %div.color_bar.violet
                  Country Music Hall Of Fame
                  %div.price $160
              %td.top
                %div
                  %div.color_bar.violet
                  Frist Center
                  %div.price $140
              %td.top
                %div.utility
                  %img{src:""}
                  %div.price $150
              %td.top
                %div
                  %div.color_bar.violet
                  Nashville Zoo
                  %div.price $140
              %td.corner
                %div

        %footer
          &copy; 2013 Nashopoly
