!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#board_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us!
    %section#main
      %div#board

        %div#drawcommunitychest.drawpile
          %span Community Chest
        %div#drawchance.drawpile
          %span Chance


        %table#top_row
          /table for top row--------------------------------------------------
          %tr
            %td.corner
              %div

            %td.top
              %div
                %div.color_bar.yellow
                Batman Building
            %td.top
              %div.utility
                utility
            %td.top
              %div
                %div.color_bar.yellow
                Ryman Auditorium
            %td.top
              %div
                %div.color_bar.yellow
                State Capitol
            %td.top
              %div.railroad
                railroad
            %td.top
              %div
                %div.color_bar.red
                LP Field
            %td.top
              %div
                %div.color_bar.red
                Bridgestone Arena
            %td.top
              %div.chance
                chance
            %td.top
              %div
                %div.color_bar.red
                Convention Center
            %td.corner
              %div



        %table#right_col
          /table for right column---------------------------------------------
          %tr
            %td.corner
              %div
            %td.top
              %div
                %div.color_bar.blue
                Belle Meade Plantation
            %td.top
              %div.luxurytax
                Luxury tax
            %td.top
              %div
                %div.color_bar.blue
                Cheekwood
            %td.top
              %div.chance
                Chance
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div
                %div.color_bar.green
                Broadway
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.green
                Ghost Ballet
            %td.top
              %div
                %div.color_bar.green
                Riverfront
            %td.corner
              %div


        %table#bottom_row
          /table for bottom row--------------------------------------------------
          %tr
            %td.corner
              %div
            %td.top
              %div
                %div.color_bar.babyblue
                Music Row
            %td.top
              %div
                %div.color_bar.babyblue
                Shelby Park
            %td.top
              %div.chance
                Chance
            %td.top
              %div
                %div.color_bar.babyblue
                Loveless Cafe
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div.incometax
                Income Tax
            %td.top
              %div
                %div.color_bar.purple
                Grand Ole Opry
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.purple
                Opry Mills
            %td.corner
              %div


        %table#left_col
          /table for left column-----------------------------------------
          %tr
            %td.corner
              %div

            %td.top
              %div
                %div.color_bar.orange
                The Parthenon
            %td.top2
              %div
                %div.color_bar.orange
                The Hermitage
            %td.top
              %div.communitychest
                Community Chest
            %td.top
              %div
                %div.color_bar.orange
                Fort Negley
            %td.top
              %div.railroad
                Railroad
            %td.top
              %div
                %div.color_bar.violet
                Country Music Hall Of Fame
            %td.top
              %div
                %div.color_bar.violet
                Frist Center
            %td.top
              %div.utility
                Utility
            %td.top
              %div
                %div.color_bar.violet
                Nashville Zoo
            %td.corner
              %div


    %footer
