!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#cards_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %div.card_padding
            %ul
              %li
                %a{href:"#"}
                  %img(src="images/chance_cheat.jpg")
              %li
                %img(src="images/chance_intern.jpg")
              %li
                %img(src="images/chance_loan.jpg")
              %li
                %img(src="images/chance_marry.jpg")
              %li
                %img(src="images/chance_studio.jpg")
            %div.clear
          %div.card_padding
            %ul
              %li
                %img(src="images/card_collect.jpg")
              %li
                %img(src="images/card_dolly.jpg")
              %li
                %img(src="images/card_jail_free.jpg")
              %li
                %img(src="images/card_opry.jpg")
              %li
                %img(src="images/card_titans.jpg")
            %div.clear
        %footer.clear
          %p
            &copy; 2013 Nashopoly