!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#contact_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %article#left_article
            %p.title
              Arielle
            %p.content
              Cell: (901)949-9388
              Email: arielle919@gmail.com
          %article#right_article
            %p.title
              Mike
            %p.content
              Cell:(615) 336-6136
              yourmom.tv@gmail.com
          %div.clear
          %article#bottom_left_article
            %p.title
              Ali
            %p.content
              Cell: (615) 925-2929
              Email: f.alinejad@yahoo.com
          %article#bottom_right_article
            %p.title
              NSS
            %p.content
              Address: 315 10th Avenue North
              Nashville, TN 37203
        %footer
          %p
            &copy; 2013 Nashopoly
