!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#contact_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %p
             this is the body text
        %footer
          %p
            &copy; 2013 Nashopoly