!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#contact_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %p#home_text
            %h2
              Contact us:
            315 10th Ave N Nashville TN 37203
            %br
            (615)333-4600

            %h2
              The Team
            Arielle Adams, Mike Kunkel, and Farzad Alinejad
          %div.card_padding
            %ul
              %li
                %img(src="images/contact_arielle.jpg")
              %li
                %img(src="images/contact_mike.jpg")
          %div.clear
        %footer
          %p
            &copy; 2013 Nashopoly