!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#faq_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %article#left_article_faq
            %p.title
              General Information
            %p.content
              What is included in the My MONOPOLY?
              Is the game in a normal box?
              Do I have to register to the site?
              How much is the game?
              How long does it take to make?
              Can you ship outside the UK?
              Do you offer corporate discounts?
              What software do I need to use your site?

          %article#right_article_faq
            %p.title
              Ordering a Game
            %p.content
              Can I place an order by phone, fax, letter?
              Can I change the Chance/Community Chest Cards?
              Can the utilities be changed?
              Can I change the currency?
              How can I change the pictures on the stations?
              How do I change the wording on the properties/stations/title?
              Can I use accents and symbols?
              When I save the game, I’m asked to give it a name, where does this name appear?
              I’ve bought a voucher from Firebox but when I go to checkout I’m still being asked for my credit card details. What do I do?
              I’ve put in my voucher but it won’t accept it.
              What method of payment do you accept?
              How many letters can I use?
              The system has rejected a word, what happens now?
              How do I order more than one game?
              Do you check the spelling of properties?

          %article#bottom_left_article_faq
            %p.title
              After Ordering
            %p.content
              The game will be a gift; does the outer packaging give away the contents?
              What method is used to send the game out?
              Can I amend my game after I’ve placed my order?
              Can I cancel my game after I’ve placed my order?
              Can I change the delivery address?

          %article#bottom_right_article_faq
            %p.title
              Consumer Care
            %p.content
              If you have a query regarding My MONOPOLY, an issue with a My MONOPOLY product, delivery of a My MONOPOLY product or if you are having difficulties with the website, please select an appropriate option from ‘Step One’ shown below or contact our consumer care team directly using the details below. Once you have made your selection, please complete ‘Step Two’ to submit your query.
          %div.clear
        %footer
          %p
            (c)Nashopoly