!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Nashopoly
  %body#faq_bg
    #overlay
    %nav
      %div
        %a{href:"index.html"}
          .money#one
            %div
              %span Home
        %a{href:"board.html"}
          .money#five
            %div
              %span Board
        %a{href:"pieces.html"}
          .money#ten
            %div
              %span Pieces
        %a{href:"cards.html"}
          .money#twenty
            %div
              %span Cards
        %a{href:"faq.html"}
          .money#fifty
            %div
              %span FAQ
        %a{href:"contact.html"}
          .money#hundred
            %div
              %span Contact Us
    %section#main
      %section#content
        %div#logo
        %div.content_body
          %p#home_text
            %h2
              FAQ
            1. Must I go around the board once before purchasing property?
            %br
            No. You may begin purchasing property with the first available space you land on.

            %br
            2. May I collect rent while in Jail?
            <br>
            Yes. You may collect rent and conduct business as usual while in Jail.

            %br
            3. Do I get money for landing on Free Parking?
            <br>
            No. If you land on Free Parking, you receive no money, property or reward of any kind.

            %br
            4. If I own all the properties of one color group, may I put three houses on only one property?
            %br
            No. Remember to build evenly at all times. You may not put more than one house on any
            %br
            property of a color group until each property
            %br
            of that group has at least one house on it.
            %br

            5. Must I wait until my turn to buy houses and hotels?
            %br
            No. You may transact business - such as buying and
            %br
            selling houses - any time on your turn or between moves by other players.
            %br

            6. May I mortgage a piece of property to buy other properties, houses or hotels?
            %br
            Yes. You may mortgage property to buy houses, hotels or other properties of any color group.
            %br
        %footer
          %p
            &copy; 2013 Nashopoly